* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #000000;
	font-family: Poppins;
	padding: 3rem 5rem 0 5rem;
}
.w-header {
	display: flex;
	justify-content: space-between;
}
.w-header h1 {
	color: #edb83d;
	font-size: 1.3rem;
}
.fa-brands:hover {
    color: #edb83d;
    border: 1px solid #edb83d;
    background-color: #000000;
}
.fa-brands {
    transition: ease background-color 0.5s;
	color: #000000;
	background-color: #edb83d;
	width: 25px;
	height: 25px;
	font-size: 25px;
	border-radius: 50%;
	margin: 10px;
	text-align: center;
}
.main-area {
	background-image: url("bitcoin.png");
	background-repeat: no-repeat;
	background-position: top center;
    background-clip: content-box;
}
.main-content h3, .main-content p {
    color: #ffffff;
    word-wrap: break-word;
}
.main-content h1 {
    color: #edb83d;
    word-wrap: break-word;
}
.main-content {
    background-color: rgba(0, 0, 0, 0.8);
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row .col-8 {
    padding: 0 2rem;
}
.row .col-8 h1 {
    font-size: 5rem;
    font-weight: 900;
}
.row .col-8 h3 {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: 5px;
}
.row .col-8 p {
    padding-right: 5rem;
}
.row .col-4 {
    padding-left: 2rem;
}
.row .col-4 img {
    translate: -10rem;
    width: 100%;
    object-fit: contain;
    height: 100%;
}
.w-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.w-footer p {
    color: #ffffff;
}
.w-footer button {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    translate: -12rem;
    padding: 0.7rem 1.5rem;
}

@media screen and (min-width: 500px) {
    .web-view {
        display: block;
    }
    .mobile-view {
        display: none;
    }
}

/* Mobile View */
@media screen and (max-width: 500px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .web-view {
        display: none;
    }
    .mobile-view {
        display: block;
    }
    body {
        padding-left: 0;
        padding-right: 0;
    }
    .x {
        background-color: #000000;
        background-image: url('x.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 47px;
        width: 100px;
    }
    .m-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .m-header h1 {
        color: #edb83d;
        font-size: 1rem;
        text-align: center;
        width: 100%;
    }
    .m-section {
        /* width: 100%;
        max-width: 100%; */
    }
    .m-yellow-box {
        margin: 5rem auto;
        border: 2rem solid #edb83d;
        border-left: none;
        border-right: none;
        padding: 0.5rem;
        /* width: 100%; */
        text-align: center;
    }
    .m-yellow-box img {
        position: absolute;
        text-align: center;
        translate: -7rem -7rem;
    }
    .m-main-area {
        text-align: center;
        margin-top: 7rem;
    }
    .m-main-area h1 {
        color: #edb83d;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 900;
    }
    .m-main-area p {
        color: #edb83d;
        margin: 1rem;
    }
    .m-main-area button {
        color: #ffffff;
        background-color: #edb83d;
        padding: 0.7rem 1.5rem;
        border: none;
        font-weight: 900;
        text-transform: uppercase;
        border-radius: 5px;
    }
    .m-footer {
        display: flex;
        justify-content: space-between;

    }
    .m-footer .x {
        height: 50px;
        width: 50px;
    }
    .m-footer ul {
        /* position: absolute; */
        text-align: center;
    }
}